.row-compare {
  margin: 0 0 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

#compare-view > * td[data-column="name"] {
  font-weight: bold;
}

#compare-view > * tr[data-id="template"] td[data-column="name"] {
  font-weight: bold;
  vertical-align: top;
  padding-top: 3em;
}

#compare-view > * tr[data-id="lms-name"] {
  text-align: center;
}

#compare-view > * tr[data-id="template-name"] {
  text-align: center;
}

#compare-view > * td > pre {
  white-space: pre-wrap;
}

#compare-view > * td {
  border-top: 1px solid #ccc;
}
