<div id="jobs-view">
  <h4>Run</h4>
  <div id="jobs-table-container"></div>
  <button id="compare-button" class="mt-2" disabled>Compare</button>
  <div id="new-job" style="width: 40%">
    <form id="new-job-form">
      <h4>New Job</h4>
      <label for="job-dataset">Dataset:</label>
      <select id="job-dataset" name="job-dataset" class="mb-1"></select>
      <br />
      <label for="job-template">Template:</label>
      <select id="job-template" name="job-template" class="mb-1"></select>
      <br />
      <label for="job-settings">Settings:</label>
      <select id="job-settings" name="job-settings" class="mb-1"></select>
      <br />
      <details id="format-panel">
        <summary class="h5">Format results</summary>
        <div id="format-results-settings-panel"></div>
      </details>
      <button type="submit">Create</button>
    </form>
  </div>
</div>
