#jobs-table-container > table {
  text-align: center;
}

#jobs-table-container > * td[data-value="Complete"] {
  background-color: #d4edda;
}

#jobs-table-container > * td[data-value="Failed"] {
  background-color: #f8d7da;
}

#jobs-table-container > * td[data-value="Running"] {
  background-color: #fff3cd;
}

#jobs-table-container > * td[data-value="Pending"] {
  background-color: #fff3cd;
}

#jobs-table-container > * td[data-value="Not found"] {
  color: #6c757d;
}

#start-job-button:hover {
  background-color: var(--color-teal-2);
}

#format-panel {
  border: 1px solid #ccc;
  padding: 1em 0.5em;
  border-radius: 5px;
}

#format-panel > summary.h5 {
  margin: 0.5em;
  font-size: 1.2em;
}

#format-panel > * input[type="text"] {
  width: 80%;
}