<div id="jobs-view">
  <h2>Jobs</h2>
  <div id="jobs-table-container"></div>
  <div id="new-job">
    <form id="new-job-form">
      <label for="job-name">Job name</label>
      <input type="text" id="job-name" name="job-name" />
      <label for="job-dataset">Dataset</label>
      <select id="job-dataset" name="job-dataset">
      </select>
      <label for="job-template">Template</label>
      <select id="job-template" name="job-template">
      </select>
      <label for="job-settings">Settings</label>
      <select id="job-settings" name="job-settings">
      </select>
      <button type="submit">Create</button>
    </form>
  </div>
</div>
