#editor-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 8fr 1fr 3fr;
  grid-template-rows: 7fr 1fr;
  grid-template-areas:
    "editor editor settings"
    "actions editor-info settings";
  max-height: 75vh;
}

#editor-panel {
  grid-area: editor;
  max-height: 100%;
  margin-right: 3em;
  margin-bottom: 3em;
}

#settings-panel {
  grid-area: settings;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  overflow-y: scroll;
}

#actions-panel {
  grid-area: actions;
}

#editor-info-panel {
  grid-area: editor-info;
}

#character-count {
  font-size: 0.8em;
  color: #666;
  text-align: right;
}

#char-count-value {
  font-size: 1.2em;
  color: #333;
  background-color: #eee;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

#settings-panel > h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#settings-panel > * input {
  max-width: 90%;
}

textarea#playground-textarea {
  height: 100%;
  /* font-family: inherit; */
  font-family: var(--font-family-2);
  font-size: 1em;
  font-weight: 400;
  margin-top: 0;
}

/* No placeholder on focus */
textarea#playground-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

#playground-textarea-loading {
  position: relative;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  margin: 0.5em;
  display: inline;
}

#suggest-button-loading {
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.5em;
}

#suggest-button-loading.hidden {
  display: none;
}

#save-template-button:enabled > * .tooltiptext {
  display: none;
}

#save-template-button:enabled > .tooltip {
  border-bottom: 0;
}

#saved-settings-container > * td {
  padding: 0;
}

#saved-settings-container > * td[data-column="name"] {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

#saved-settings-container > * td[data-column="actions"] {
  width: 1px;
  white-space: nowrap;
}

#saved-settings-container > * td[data-column="actions"] > button {
  padding: 0.5em 1em;
}

#templates-container > table {
  width: 100%;
}

#templates-container > * td[data-column="name"] {
  font-weight: bold;
  width: 20%;
}

#templates-container > * td[data-column="template"] {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#templates-container > * th[data-key="template"] {
  width: 80%;
  text-align: left;
}

#templates-container > * td[data-column="actions"] {
  width: 1px;
  white-space: nowrap;
}
