<div id="playground-view">
  <div id="editor-container">
    <textarea id="playground-textarea" rows="20"></textarea>
    <div id="character-count">0</div>
  </div>
  <button id="suggest-button">Suggest</button>
  <button id="save-template-button">Save Template</button>
  <button id="save-settings-button">Save Settings</button>
  <!-- <button id="insert-data-button">Insert Data</button> -->
  <details id="settings" open>
    <summary class="h3">Settings</summary>
    <div id="settings-container"></div>
    <div id="saved-settings-container"></div>
  </details>
  <details id="template-details" open>
    <summary class="h3">Templates</summary>
    <div id="templates-container"></div>
  </details>
  <!-- <div class="modal" id="insert-data-modal">
    <div class="modal-content">
      <button class="modal-close-button" id="insert-data-modal-close-button">&times;</button>
      <h2>Insert Data</h2>
      <div class="modal-content">
        <div id="insert-data-modal-datatable">
        </div>
      </div>
    </div>
  </div> -->
</div>
