<div id="project-view">
  <h1>{{ projectName }}</h1>
  <details id="data" open>
    <summary class="h3">Data</summary>
    <div id="data">
      <div id="data-list">
        <div id="data-items">
          <p>You don't have any data yet. Upload some:</p>
        </div>
      </div>
      <div id="new-data">
        <form id="new-data-form">
          <label for="data-file">Data file</label>
          <input type="file" id="data-file" name="data-file" />
          <label for="data-separator">Separator</label>
          <input
            type="text"
            id="data-separator"
            name="data-separator"
            value="---"
          />
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
  </details>
  <details id="settings" open>
    <summary class="h3">Settings</summary>
    <div id="settings">
      <div id="settings-list">
        <form id="settings-form">
          <label for="settings-name">Project name</label>
          <input
            type="text"
            id="settings-name"
            name="settings-name"
            value="{{ projectName }}"
          />
          <label for="settings-separator">Separator</label>
          <input
            type="text"
            id="settings-separator"
            name="settings-separator"
            value="{{ projectSeparator }}"
          />
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
  </details>
</div>
