<div class="datatable">
  <div class="row center" id="header-row">
    <div class="col-1" id="header-col">
      <h5 id="datatable-header"></h5>
    </div>
    <div class="col-2 right">
      <div class="row" id="actions-row">
        <div class="row-count mr-2">Rows: <span id="row-count-value">0</span></div>
        <div class="search mr-3 ml-1 hidden">
          <input type="text" placeholder="Search" class="search-input" />
        </div>
        <div class="page-selector-container mr-1 hidden">
          <label for="page-selector">Page: </label>
          <select name="page-selector" class="page-selector"></select>
        </div>
        <div class="page-size-selector-container hidden">
          <label for="page-size-selector">Page size: </label>
          <select name="page-size-selector" class="page-size-selector"></select>
        </div>
      </div>
    </div>
    <div class="prev-next-container ml-1 hidden">
      <button class="prev-page-btn outline">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="next-page-btn outline">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div id="datatable-body"></div>
  <div id="datatable-footer" class="hidden">
    <div class="row center" id="footer-row">
      <div class="col-1" id="footer-col"></div>
      <div class="col-2 right">
        <div class="row" id="actions-row">
          <div class="page-selector-container ml-2 mr-1">
            <label for="page-selector">Page: </label>
            <select name="page-selector" class="page-selector"></select>
          </div>
          <div class="page-size-selector-container">
            <label for="page-size-selector">Page size: </label>
            <select
              name="page-size-selector"
              class="page-size-selector"
            ></select>
          </div>
          <div class="prev-next-container ml-1">
            <button class="prev-page-btn outline">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next-page-btn outline">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
