<div class="nav">
  <img src="/logo-trans.png" alt="logo" id="nav-logo" />
  <div class="nav-logo">OpenPlayground</div>
  <a href="/#/playground" class="nav-item"
    ><i class="fa-regular fa-pen-to-square"></i> Playground</a
  >
  <a href="/#/datasets" class="nav-item"
    ><i class="fa-regular fa-folder"></i> Datasets</a
  >
  <a href="/#/runs" class="nav-item"
    ><i class="fa-regular fa-circle-play"></i> Runs</a
  >
  <a href="/#/intro" class="nav-item"
    ><i class="fa-solid fa-book"></i> Introduction</a
  >
</div>