:root {
  --color-primary: #c153fb;
  --color-secondary: #ffab40;
  --color-danger: #ff453a;
  --color-error: #ff453a;
  --color-error-dark: #b92c28;
  --color-error-dark-2: #992a25;
  --color-error-background: #a7000e;
  --color-teal-1: #00ebeb;
  --color-teal-2: #18b9b9;
  --color-teal-3: #0f9f9f;
  --color-teal-4: #0F8686;

  --font-family-2: "Consolas", "Monaco", "Menlo", monospace;
}

body {
  /* background-color: #f5f5f5; */
  background-color: #ffffff;
  color: #202020;
}

img#nav-logo {
  max-width: 32px;
  margin-right: 0.5em;
  /* max-width: 80px; */
}

.nav-logo {
  margin-right: 1.5em;
}

a.nav-item.icon {
  color: #202020;
  font-size: 1.5em;
}

a.nav-item.icon:hover {
  color: var(--color-secondary);
}

button {
  cursor: pointer;
}

button.outline:hover {
  background-color: var(--color-secondary);
}

button.danger:hover {
  background-color: var(--color-danger);
}

button:hover,
[type="submit"]:hover {
  background-color: var(--color-secondary);
}

button#suggest-button {
  background-color: var(--color-teal-3);
}

button#suggest-button:hover {
  background-color: var(--color-secondary);
}

/* Disabled button */
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: pointer;
}

h4 {
  margin-top: 0.75em;
  margin-bottom: 1em;
}

table {
  width: 100%;
}

td {
  padding: 0.5em;
}

td:hover {
  background-color: #eee;
}

summary.h5 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.hidden {
  display: none;
}

/* Spacing utilities */

.ma-1 {
  margin: 1em;
}

.ma-2 {
  margin-top: 2em;
}

.ma-3 {
  margin-top: 3em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

/* Loading spinner */

.loading-spinner {
  width: 100%;
  height: 100%;
  border: 2px solid #202020;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.75s linear infinite;
  display: inline-block;
}

.loading-spinner.white {
  border-color: #ffffff;
  border-top-color: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

